.reveal {
   /* background-image: url("blackboard.jpeg");
    background-size: cover;*/
 background: #f7f2d3;
  /*background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);*/
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
background-color: #f7f3de;
color: #000;
}

.reveal h1 {
    color: #9bd22e   ;
    font-weight: 100;
   /* text-shadow: 0 0 50px #0af, 0 0 3px #fff;*/
    font-family: comic zine ot;
    font-size: 3.5em;
}

.reveal h2 {
    color: #0af;
    /*text-shadow: 0 0 15px #af0, 0 0 2px #fff;*/  
    font-weight: 100;
    font-family: comic zine ot;
    font-size: 2em;
}

.reveal h6 {
    color: #0006;
    font-family: KG Empire of dirt;
    text-transform: none;
    font-weight: normal;
    font-size:medium;
    padding-top: 30px;
}
 
.reveal section img{
    background: none;
    border:none;
}

.reveal blockquote{
    width: 100%;
}

.reveal p {
    font-family: KG Empire of dirt;
}

.reveal .fragment {
    position: fixed;
    left: 0px;
    text-align: center;
    width: 100%;
    background-color: #F6F3E0;
    font-family: Tiresias;
    font-size: 0.9em;
    color: #45494b;
}

.title-footer {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    position: fixed;
    height: 1.5em;
    z-index: 20;
    width: 100%;
    font-size: 0.8em !important;
    text-align: center;
    letter-spacing: 0em;
    bottom: 0px;
}

.reveal .note div {
    font-size: 0.5em;
   
}
