
.reveal h1 {
    color: #0af;
    font-weight: 100;
    text-shadow: 0 0 50px #0af, 0 0 3px #fff;
}

.reveal h2 {
    color: #af0;
    text-shadow: 0 0 15px #af0, 0 0 2px #fff;
    font-weight: 100;
}

.reveal section img{
    background: none;
    border:none;
}

.reveal blockquote{
    width: 100%;
}
